
/* Base Styles / Mobile View*/
* {
    box-sizing: border-box;
    /*border: 1px solid firebrick;*/
}
p {
    line-height: 1.2em;
}

body {
    font-size: 25px;
    margin: 0;
    color: #5c2018;
    font-family: 'Playfair Display', serif; 
}
main {
    width: 100%;
    height: 100%;
}
.page-header {
    background-color: #5c2018;
    max-width: (100% + 3em);
    margin-left: -1.5;

}

h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    padding: 20px 5px 5px 15px;
    display: block;
    color: #f3e0dc;
}
.main-navbar {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #f3e0dc;
    font-weight: bold;
    list-style-type: none;
}
.main-navbar li  {
    padding: 12px 0px;
    margin: 15px;
    text-align: center;
    border-radius: 0.75rem;
    color: #f3e0dc;
    background-color: #d4a59a;
}
a {
    color: #f3e0dc;
    text-decoration: none;
    font-size: 20px;

}
/* /navbar*/


/* introduction starts*/
.intro {
    margin: 10px;
}

h3 {
    font-size: 30px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.berries {
    max-width: 100%;
    width: 350px;
    height: 200px;
    float: right;
    border-radius: 2rem;
}
/* /introduction ends*/


/* gallery of works starts*/
.card-gallery {
    text-align: center;
}
.gallery-heading {
    color:#5c2018;
    border-top: 1px solid #bc4639;
    padding-top: 2rem;
}
.gallery {
    margin-left: 20px; 
}
img {
    max-width: 100%;
    width: 200px;
    height: 200px;
   
}
.readmore-button {
    background-color: #4285f4;
    font-size: 16px;
    margin-bottom: 2rem;
}
.readmore-button:hover {
    cursor: context-menu;
    background-color: light gray;
}

    ul::marker {
        list-style-type: none ;
  }
/* gallery of works ends*/
/* bio starts*/

.bio {
  
    text-align: center;
    margin: 10px;
    border-top: 1px solid #bc4639;  
}
/* bio ends*/


/* contact starts*/
.contact-info {
    padding: 10px;
    background-color: #bc4639;

}

.email-button {
    background-color: #4285f4;
    font-size: 16px;
    padding: .5rem;
    border-radius: 0.75rem;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20%;
}
.email-button:hover {
    background-color:  lightgrey;
    
}
/* /contact ends*/

/* footer starts*/
.footer {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    font-size: 14px;
    color:#f3e0dc;
    background: linear-gradient(#d4a59a, #5c2018);
    
}
.footer-heading {
    
}

#back a {
    font-size: 14px;
   
}
h4 {
    display: block;
    text-align: left;
    padding-top: 15px;
    margin-top: 0;
   
}
/* /footer ends*/

/* Desktop media*/
@media (min-width: 1024px) {

    .page-header {
        display: flex;
    }  
    h2 {
       margin-left: 20px;
        
    }
.intro {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: start;
}

.welcome-page {
    flex: 0 0 auto;
    margin: 10px;
}
.welcome-parag {
    width: 75%;
    text-indent: 5%;
}

 h3 {
    margin-top: 3rem;
    font-size: 42px;
    margin-left: 40px;
    margin-right: 40%;
    
 }
 
      img {
          width: 350px;
          height: 350px;
      }
      .gallery {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          
      }
      .card-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 50%;
        justify-content: center;
        align-items:center;
       
      }
      .card-parag {
          width: 60%;
          align-items: center;
        
      }
      .readmore-button {
      align-self: center;
      }
      p {
        flex: 0 0 auto;
        margin: 10px;
        width: 75%;
      }
      .bio {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: start;
      }
   

}